{% extends app.request.isXmlHttpRequest ? '::baseajax.html.twig' : '::basesmartpanel.html.twig' %}

{% block content -%}
    <h1>Crear proveedor</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="#{{ path('proveedores') }}">
            Regresar a la Lista
        </a>
    </li>
</ul>
<script type="text/javascript" src="{{ asset('js/arxis-postforms.js')}}"></script> 
<script type="text/javascript">
	pageSetUp();
	var pagefunction = function() {
	};
        jQuery(function($){
                $("#proveedores_telefono").mask("999999999");
                $("#proveedores_movil").mask("9999999999");
            });
</script>
{% endblock %}
