{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Role creacion</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_role') }}">
            Regresar a la Lista
        </a>
    </li>
</ul>
{% endblock %}
