{% extends app.request.isXmlHttpRequest ? '::baseajax.html.twig' : '::basesmartpanel.html.twig' %}
{% block content -%}
                        <div class="well well-sm well-light">
			

                                                <h3>Crear Equipo
                                                <br>
                                                <small>Ingrese datos del equipo</small></h3>
                                                {{ form(form) }}
                                                <div id="log" class="font-xs margin-top-10 text-danger">
                                                </div>
                                                <div id="logcontrols" class="text-right margin-top-10  hidden" >
                                                    </div>
                                            </div>		
						




    

        <script type="text/javascript">
        
        $("#wid-id-3 form").submit(function(e){
            e.preventDefault();
            loadURLPost($(this).attr("action"),$("#wid-id-3 .widget-body div"),$(this).serialize());
       });
       
       
        </script> 
{% endblock %}