{% extends app.request.isXmlHttpRequest ? '::baseajax.html.twig' : '::basesmartpanel.html.twig' %}
{% block content -%}
    <h1>Embalajes creacion</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="#{{ path('embalajes') }}">
            Back to the list
        </a>
    </li>
</ul>
        <script type="text/javascript" src="{{ asset('js/arxis-postforms.js')}}"></script> 
<script type="text/javascript">
	pageSetUp();
	var pagefunction = function() {
	};
</script>
{% endblock %}
