{% extends app.request.isXmlHttpRequest ? '::baseajax.html.twig' : '::basesmartpanel.html.twig' %}

{% block content -%}
    <h1>Pedidoslinea creacion</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="#{{ path('pedidoslinea') }}">
            Regresar a la Lista
        </a>
    </li>
</ul>
{% endblock %}
