{% extends app.request.isXmlHttpRequest ? '::baseajax.html.twig' : '::basesmartpanel.html.twig' %}
{% block content -%}
    <h1>Categorias lista</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="#{{ path('familias_show', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
                <td>
                <ul>
                    <li>
                        <a href="#{{ path('familias_show', { 'id': entity.id }) }}">mostrar</a>
                    </li>
                    
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="#{{ path('familias_new') }}">
                Crear nueva categoria
            </a>
        </li>
    </ul>
    {% endblock %}
